<%- include("header", { title: title }); %>

<div class="hero">
    <div class="hero-profile">
        <h1>Change Password</h1>

        <form action="/profile/changepassword" method="POST">
            <label for="oldPassword">Old Password:</label>
            <input type="password" id="oldPassword" name="oldPassword" required placeholder="Old Password">

            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required placeholder="New Password">

            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Confirm Password">

            <button type="submit">Change Password</button>
        </form>
    </div>
</div>



<%- include("footer"); %>